<h1>問題画面</h1>


  <p>
  <%= @quiz.name %>
  </p>
  <%= link_to  @quiz.choice1, new_quiz_answer_path(@quiz, choise: @quiz.choice1) %>


<%= link_to  @quiz.choice2, new_quiz_answer_path(@quiz, choise: @quiz.choice2 ) %>

<%= link_to  @quiz.choice3, new_quiz_answer_path(@quiz, choise: @quiz.choice3) %>
<%= link_to  @quiz.choice4, new_quiz_answer_path(@quiz, choise: @quiz.choice4) %>
