<%= render 'layouts/errors', obj: @quiz %>
<h1>管理者クイズ新規作成画面</h1>
<%= form_with model: @quiz,url: admin_quizzes_path do |f| %>
  <div>
    <%= f.label:実演画像 %>
    <%= f.file_field :quiz_gif, accept: "image/*" %>
  </div>
  <div>
    <%= f.label:ショートカット名 %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label:カテゴリ %>
    <%= f.collection_select :category_id, Category.all,:id,:name ,prompt: "カテゴリを選んでください" %>
  </div>
  <div>
   
      <%= f.text_field :choice1 %>

     
      <%= f.text_field :choice2 %>

      <%= f.text_field :choice3 %>

      <
      <%= f.text_field :choice4 %>

      <%= f.label "正解" %>
      <%= f.text_field :answer %>

  </div>

  <div>
    <%= f.submit "新規登録",class: 'btn btn-success' %>
  </div>
<% end %>