<h1>管理者クイズ詳細画面</h1>

<div>
  <p>
    <%= image_tag @quiz.get_quiz_gif(500,500) %>
  </p>
</div>
<div>
  ショートカット名
  <%= @quiz.name %>
</div>
<div>
  カテゴリ：<%= @quiz.category.name %>
</div>
<div>
  <%= @quiz.choice1 %>
  <%= @quiz.choice2 %>
  <%= @quiz.choice3 %>
  <%= @quiz.choice4 %>
  <%= @quiz.answer %>
</div>
<%= link_to "このクイズを編集する", edit_admin_quiz_path(@quiz) %>
<%= link_to "クイズ一覧に戻る", admin_quizzes_path(category_id: @quiz.category.id) %>
