<% if shortcuts.present? %>
  <table class="table table-hover bg-light mt-2 text-center">
    <thead>
      <tr>
        <th>ショートカット名</th>
        <th>Macのコマンド</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% shortcuts.each do |shortcut| %>
      <tr>
        <td>
          <%= link_to shortcut_path(shortcut.id),class: "btn btn-link" do %>
            <%= shortcut.name %>
          <% end %>
        </td>
        <td>
          <%= shortcut.key %>
        </td>
        <td>
          <i class="fas fa-tags">ブックマーク登録:<%= shortcut.bookmarks.count %>人</i>,
          <i class="fas fa-comment">レビュー：<%= shortcut.comments.count %>件</i>
        </td>
        <td>
          <i class="fas fa-star">使用頻度平均：<%= shortcut.comments.average(:rate).to_f.round(1) %>点</i>
          <div id="star-rate-<%= shortcut.id %>"></div>
          <script>
          // ブラウザバックした時に星が増えないように（emptyメソッドを使って、一旦子要素を削除する）
          $('#star-rate-<%= shortcut.id %>').empty();
          $('#star-rate-<%= shortcut.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= shortcut.comments.average(:rate).to_f.round(1) %>',
            //注目ポイント↑ 平均点を算出し、round関数で切り上げ
          });
          </script>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p>ショートカットキーがまだ登録されていません。</p>
<% end %>
<%= paginate shortcuts %>
