<h1>ユーザー用ショートカット一覧画面</h1>
<%= link_to "ブックマークしたショートカットを見る", bookmarks_user_path(current_user.id) %>
<% if @shortcuts.present? %>
  <table>
    <thead>
      <tr>
        <th>ショートカット名</th>
        <th>コマンド</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shortcuts.each do |shortcut| %>
      <tr>
        <td>
          <%= link_to shortcut_path(shortcut.id) do %>
            <%= shortcut.name %>
          <% end %>
        </td>
        <td>
          <%= shortcut.key %>
        </td>
        <td>
          ブックマーク登録人数:<%= shortcut.bookmarks.count %>人</br>
          コメント件数：<%= shortcut.comments.count %></br>
          使用頻度平均：
          <!--<div id="star-rate-<%#= comment.id %>"></div>-->
          <script>
          // $('#star-rate-<%#= shortcut.comment.id %>').raty({
            // size: 36,
            // starOff: "#{asset_path('star-off.png')}",
            // starOn: "#{asset_path('star-on.png')}",
            // starHalf: "#{asset_path('star-half.png')}",
            // half: true,
            // readOnly: true,
            // score: "#{comment.reviews.average(:rate).to_f.round(1)}",
            //注目ポイント↑ 平均点を算出し、round関数で切り上げ
          });
          </script>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p>ショートカットキーがまだ登録されていません。</p>
<% end %>