<h1>ユーザー用ショートカットキー詳細画面</h1>
<div>
  <p><%= image_tag @shortcut.get_shortcut_image(500,500) %></p>
</div>
<div>
  ショートカット名
  <%= @shortcut.name %>
</div>
<div>
  コマンド
  <%= @shortcut.key %>
</div>

<table>
  <thaed>
    <tr>
      <th>ショートカット名</th>
      <th>コマンド</th>
      <th>ブックマークに登録</th>
    </tr>
  </thaed>
  <tbody>
    <tr id="shortcut_<%= @shortcut.id %>">
      <td><%= @shortcut.name %></td>
      <td><%= @shortcut.key %></td>
      <td class="bookmark-btn">
        <%= render "public/bookmarks/bookmark-btn", shortcut: @shortcut %>
      </td>
    </tr>
  </tbody>
</table>

<!--レビューとコメントの入力フォーム-->
<div class="new-comment" id="new_comment">
  <%= render 'public/comments/form', shortcut: @shortcut, comment: @comment %>
</div>

<!--コメント一覧　部分テンプレート-->
<div id="comments_area">
  <%= render 'public/comments/review', shortcut: @shortcut %>
</div>
<!--コメント一覧　部分テンプレート-->
