<%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-5 bg-light text-dark py-5">
        <h2 class="fs-1 mb-5 text-center fw-bold">お問い合わせ内容確認</h2>
        <form method="post">
          <div class="col-md-8 offset-md-2 mb-3">
            名前<span class="text-danger">（必須）</span>
            <%= f.hidden_field :name %>
            <%= simple_format(@inquiry.name) %>
          </div>
          <div class="col-md-8 offset-md-2 mb-3">
            お問合せ内容<span class="text-danger">（必須）</span>
            <%= f.hidden_field :message%>
            <%= simple_format(@inquiry.message) %>
          </div>
          <div class="text-center pt-4 col-md-6 offset-md-3">
            <%= f.submit '送信', :class => 'btn btn-primary' %>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>

