<div class="container">
	<div class="row">
	  <div class="py-5 mt-4 d-flex mini-title">
      <div class="col-6">
        <%= image_tag('login.png', size: "500x500") %>
      </div>
  		<div class="col-5">
  		<% unless user_signed_in? %>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="card text-white bg-info mt-5">
          <article class="card-body">
      	    <h4 class="card-title text-center mb-4 mt-1">ログイン</h4>
            <p class="text-success text-center">Emailとパスワードを入力してください</p>
            <div class="d-grid gap-4 col-8 mt-4 mx-auto">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
              </div>
            </div>
            <div class="d-grid gap-4 col-8 mx-auto">
              <div class="input-group mt-4">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
                <%= f.password_field :password, class: "form-control", placeholder: "password" %>
              </div>
            </div>
            <div class="d-grid gap-2 col-6 mt-4 mx-auto">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
            <div class="d-grid gap-2 col-6 mt-4 mx-auto">
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-block mb-3 sign_in", method: :post %>
            </div>
            <div class="text-center col-6 mx-auto">
              <span><%= link_to "新規登録はこちらから", new_user_registration_path, class: "btn btn-success btn-sm" %></span>
            </div>
          </article>
        </div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>