<header>
  <a href="/"><%= image_tag('logo_transparent.png', size: "150x150") %></a>
  <% if user_signed_in? %>
    <!--ユーザーログイン後のヘッダー-->
    <li>
      ようこそ、<%= current_user.nickname %>さん！
    </li>
    <li>
      <%= link_to "マイページ",user_path(current_user) %>
    </li>
    <li>
      <%= link_to "ショートカット一覧",shortcuts_path %>
    </li>
    <li>
      <%#= link_to "クイズに挑戦",root_path %>
    </li>
    <li>
      <%#= link_to "お問合せ",root_path %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        ログアウト
      <% end %>
    </li>
    <!--管理者ログイン後のヘッダー-->
    <% elsif admin_signed_in? %>
    <li>
      <%= link_to "会員管理",admin_users_path %>
    </li>
    <li>
      <%= link_to "ショートカット管理",admin_shortcuts_path %>
    </li>
    <li>
      <%#= link_to "カテゴリ管理",admin_categories_path %>
    </li>
    <li>
      <%#= link_to "クイズ管理",admin_quizzes_path %>

    </li>
    <li>
      <%= link_to destroy_admin_session_path, method: :delete do %>
        ログアウト
      <% end %>
    </li>
    <!--未ログイン時のヘッダー-->
    <% else %>
    <li>
      <%= link_to "新規登録",new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン",root_path %>
    </li>
    <li>
      <%= link_to "お問合せ",root_path %>
    </li>
    <li>
      <%= link_to "管理者の方はこちら",new_admin_session_path %>
    </li>
  <% end %>
</header>