<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= image_tag('logo_transparent.png', size: "100x100") %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <!--ユーザーログイン後のヘッダー-->
          <li class="nav-item active nav-link">
            ようこそ、<%= current_user.nickname %>さん！
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link" do %>
              <i class="fas fa-user">マイページ</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to categories_path, class: "nav-link" do %>
              <i class="fas fa-keyboard">ショートカット一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to quizzes_path, class: "nav-link" do %>
              <i class="fas fa-question-circle">クイズに挑戦</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to inquiry_path, class: "nav-link" do %>
              <i class="fas fa-envelope">お問合せ</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
              <i class="fas fa-sign-out-alt">ログアウト</i>
            <% end %>
          </li>

          <!--管理者ログイン後のヘッダー-->
          <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_users_path, class: "nav-link" do %>
              <i class="fas fa-user">会員管理</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to categories_admin_shortcuts_path, class: "nav-link" do %>
              <i class="fas fa-keyboard">ショートカット一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_categories_path, class: "nav-link" do %>
              <i class="fas fa-tag">カテゴリ管理</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to categories_admin_quizzes_path, class: "nav-link" do %>
              <i class="fas fa-question-circle">クイズ管理</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, class: "nav-link", method: :delete do %>
              <i class="fas fa-sign-out-alt">ログアウト</i>
            <% end %>
          </li>

          <!--未ログイン時のヘッダー-->
          <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="fas fa-user-plus">新規登録</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fas fa-sign-in-alt">ログイン</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to inquiry_path, class: "nav-link" do %>
              <i class="fas fa-envelope">お問合せ</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_admin_session_path, class: "nav-link" do %>
              <i class="fas fa-user-lock">管理者の方はこちら</i>
            <% end %>
          </li>
        <% end %>
      </ul>
      <!--ユーザーがログインしている時だけ検索フォームを表示する-->
      <% if user_signed_in? %>
        <%= search_form_for search, url: search_path, class: "d-flex gap-2" do |f| %>
          <div class="input-group mb-3">
            <%= f.search_field :name_cont, placeholder: "ショートカットを検索...", class: "form-control" %>
            <button class="btn btn-outline-success" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
          </div>
        <% end %>
      <% end %>
    </div>
  </nav>
</header>
